@page-height: 8225px;

font-family: 'Judson', serif;
font-size: 20px;
color: @gray-darkest;
height: @page-height;
.gradient(top, @sky-blue-dark, @sky-blue-light);

h1 {
  font-family: 'Rochester', cursive;
  font-size: 80px;
  color: @brown;
}

h3 {
  font-family: 'Judson', serif;
  font-size: 20px;
  color: @red-dark;
  text-transform: uppercase;
}

a{
  color: @blue;
}

#navbar {
  li {
    &.active a {
      color: @white;
    }
    a {
      background-color: transparent !important;
      color: @sky-blue-lightest;
      .drop-shadow();
      &:hover {
        color: @white;
      }
    }
  }
  position: fixed;
  z-index: 2;
  top: 10%;
  left: -100px;
  transition: left 0.8s;
  &.on {
    left: 0px;
  }
  @media (max-width: 940px) {
    display: none;
  }
}

.panel {
  border-width: 40px 10px;
  border-image: url('../../assets/border-detail.png') 50 42 50 42 repeat;
  background-clip: padding-box;
  border-radius: 0px;
  background-color: @white-cream;
  box-shadow: none;
  padding: 10px 40px 40px;
}

#clouds {
    position: absolute;
    height: (@page-height);
    background: url('../../assets/clouds.png') 0px 0px repeat-x;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    animation: animatedBackground 60s linear infinite;
}

.container {
	margin:0px auto;
	position:relative;
	overflow:visible;
	z-index:2;
  #top-section {
    height: 2000px;
    #balloon-container {
      height: 800px;
      width: 550px;
      position:relative;
    	top:20px;
    	// left:20px;
      #balloon {
        position: absolute;
        height: 718px;
        width: 514px;
        background: url('../../assets/balloon.png') 0px 0px no-repeat;
      }
      .title-text {
        position: absolute;
        font-family: 'Rochester', cursive;
        font-size: 155px;
        color: @white-cream;
        top: 10px;
        left: 60px;
        line-height: 1;
        .drop-shadow();
        .and {
          font-size: 90px;
          padding-left: 120px;
        }
        .leon {
          padding-left: 30px;
          line-height: 0.4;
        }
      }
      #bike {
        position: absolute;
        top: 430px;
        left: 87px;
        height: 210px;
        width: 260px;
        background: url('../../assets/bike.png') 0px 0px no-repeat;
      }
    }
    .date-location {
      text-align: center;
      position: relative;
      color: @white-cream;
      font-size: 60px;
      font-family: 'Judson', serif;
      .drop-shadow();
      line-height: 1.2;
      @media (min-width: @screen-md-min) {
        top: 360px;
      }
    }
  }

  #story-section {
    height: 1700px;
    .doje-container {
      height: 380px;
    }
    #doje {
      position: relative;
      top: 220px;
      left: 300px;
      height: 119px;
      width: 100px;
      background: url('../../assets/doje.png') 0px 0px no-repeat;
    }
    .ineptitude {
      display: inline-block;
      .charm {
        background: url('../../assets/charm.png') no-repeat;
        height: 39px;
        width: 104px;
        display: inline-block;
        margin-left: 5px;
        margin-top: -20px;
        float: right;
      }
    }
  }

  #where-section {
    height: 2700px;
    #map {
      height: 674px;
      width: 100%;
      border-radius: 6px;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
      background: url('../../assets/map.jpg') 0% 0px no-repeat;
      @media (max-width: 680px) {
        background-position: 35% 0px;
      }
    }
  }

  #rsvp-section {
    height: 1200px;
    #butterflies {
      height: 195px;
      width: 195px;
      background: url('../../assets/butterfiles.png') 0px 0px no-repeat;
    }
    label {
      font-weight: normal;
    }
    button {
      font-size: 17px;
    }
    input.form-control, .input-group .btn {
      height: 40px;
    }
    .form-control {
      font-size: 18px;
    }
    .attendance {
      margin-bottom: 15px;
    }
    .tree {
      float: right;
      background: url('../../assets/tree.png') 0px 0px no-repeat;
      height: 49px;
      width: 47px;
      margin-top: 10px;
      &.selected {
        background-position: -47px 0px;
      }
    }
    .button-section {
      margin-top: 10px;
      .privacy {
        font-size: 14px;
        padding: 15px 0px 0px;
      }
    }
    .sent-message {
      border-radius: 10px;
      padding: 15px;
      font-size: 19px;
      .glyphicon {
        padding-right: 5px;
      }
      .glyphicon-ok {
        color: @green;
      }
      .glyphicon-remove {
        color: @red-dark;
      }
    }
  }
}


@yandina-height: 740px;
@lavender-height: 640px;

.yandina {
  position: absolute;
  top: @page-height;
  background-color: @green-grass;
  height: 750px;
  width: 100%;
  .yandina-sky {
    position: absolute;
    height: 193px;
    width: 100%;
    background-color: @sky-blue-light;
  }
  #lavender {
    height: @lavender-height;
    width: 100%;
    background: url('../../assets/lavender.png') no-repeat right bottom;
    position: absolute;
    bottom: (@yandina-height - @lavender-height + 60px);
    z-index: 1;
    &.fixed {
      position: fixed;
      bottom: 0px;
    }
  }
  .yandina-background {
    position: absolute;
    height: 522px;
    width: 100%;
    background: url('../../assets/yandina.jpg') no-repeat center;

  }
}
