.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
	background-color: @stop;
	background: -webkit-linear-gradient(@origin, @start, @stop);
	background: -moz-linear-gradient(@origin, @start, @stop);
	background: -o-linear-gradient(@origin, @start, @stop);
	background: -ms-linear-gradient(@origin, @start, @stop);
	background: linear-gradient(@origin, @start, @stop);
}

.transition (@prop: all, @time: 1s, @ease: linear) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

.box-drop-shadow(@alpha: 0.2, @blur-radius: 5px, @v-pos: 2px) {
	box-shadow: 0px @v-pos @blur-radius rgba(0,0,0, @alpha);
}

.drop-shadow(@alpha: 0.2, @blur-radius: 5px, @v-pos: 2px) {
	text-shadow: 0px @v-pos @blur-radius rgba(0,0,0, @alpha);
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
  100% { background-position: 2000px 0; }
}
