.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}

.transition (@prop: all, @time: 1s, @ease: linear) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

.box-drop-shadow(@alpha: 0.2, @blur-radius: 5px, @v-pos: 2px) {
	box-shadow: 0px @v-pos @blur-radius rgba(0,0,0, @alpha);
}

.drop-shadow(@alpha: 0.2, @blur-radius: 5px, @v-pos: 2px) {
	text-shadow: 0px @v-pos @blur-radius rgba(0,0,0, @alpha);
}

@keyframes animatedBackground {
	from {
		transform: translateX(-2000px);
		// -webkit-transform: translateX(0%);
		// -moz-transform: translateX(0%);
	}
	to {
		transform: translateX(0px);
		//  -webkit-transform: translateX(-2000px);
		//  -moz-transform: translateX(-2000px);
	}
}
